doctype html
html
  head
    title We're sorry, but something went wrong (500)
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(href="/static/stylesheets/500.css" rel="stylesheet")

    body
      //- This file lives in public/500.html
      div(class="dialog")
        div
          h1 We're sorry, but something went wrong.
        p If you are the application owner check the logs for more information.
